blinker==1.9.0
click==8.2.1
colorama==0.4.6
dnspython==2.7.0
email-validator==2.0.0
Flask==2.3.3
Flask-WTF==1.1.1
gunicorn==21.2.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
python-dotenv==1.0.0
pytz==2023.3
Werkzeug==2.3.7
WTForms==3.0.1