@charset "utf-8";

.first-view {
  height: calc(100vh - 110px);
  background-image: url(../images/index/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.first-view-text {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-bottom: 80px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 10px #130c06;
}

.first-view-text h1 {
  font-family: 'Montserrat' , sans-serif;
  font-size: 22px;
  margin-top: 50px;
  line-height: 22px;
}

.first-view-text p {
  font-size: 17px;
  margin-top: 15px;
}

.lead {
  max-width: 1200px;
  margin: 60px auto;
}

.lead p {
line-height: 2;
text-align: center;
}

.link-button-area {
  text-align: center;
  margin-top: 40px;
}

.link-button {
  background-color: #f4dd64;
  display: inline-block;
  min-width: 180px;
  line-height: 48px;
  border-radius: 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.link-button:hover {
  background-color: #0d79fe;
  color: #ffffff;
}

.recommended {
  background-color: #e3e2e2;
  padding-top: 45px;
  padding-bottom: 55px;
}

.recommended h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.recommended h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.item-list {
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: scroll;
}

.item-list li {
  flex-shrink: 0;
  width: 260px;
  margin-left: 75px;
}

.item-list li:first-child {
  margin-left: 0;
}

.item-list dl {
  margin-top: 20px;
}

.item-list dt {
  font-weight: bold;
}

.item-list dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .first-view {
    height: calc(100vh - 50px);
    background-image: url(../images/index/bg-main-sf6.jpg);
    align-items: flex-start;
  }

  .first-view-text {
    padding-top: 60px;
    padding-left: 20px;
  }

  .first-view-text h1 {
    font-size: 25px;
    line-height: 48px;
  }

  .first-view-text p {
    font-size: 20px;
    margin-top: 15px;
  }

  .lead {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lead p {
    text-align: left;
  }

  .item-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .item-list li {
    width: 220px;
    margin-left: 30px;
  }
}
