{% extends "base.html" %}

{% block title %}Profile/History | PERCH official website{% endblock %}
{% block description %}株式会社パーチの会社概要と沿革のページです。{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="title">
  <h1>Profile/History</h1>
  <p>成り立ち</p>
</div>
<div class="main-content">
  <h2>会社概要</h2>
  <ul class="item-list">
    <dl>
      <dt>社名</dt>
      <dd>株式会社パーチ</dd>
    </dl>
    <dl>
      <dt>設立</dt>
      <dd>1996年4月3日</dd>
    </dl>
    <dl>
      <dt>所在地</dt>
      <dd>〒503-2319 岐阜県安八郡神戸町前田71番地</dd>
    </dl>
    <dl>
      <dt>資本金</dt>
      <dd>1,000万円</dd>
    </dl>
    <dl>
      <dt>従業員数</dt>
      <dd>50名</dd>
    </dl>
  </ul>

  <h2>企業理念</h2>
  <p>社会の信頼に応え、モノづくりを通じて、人々の幸福と豊かな社会づくりへ貢献する。</p>

  <h2>沿革</h2>
  <ul class="item-list">
    <dl>
      <dt>1996</dt>
      <dd>岐阜県安八郡神戸町にて有限会社パーチ設立 <br>ダンボール製品販売でスタート</dd>
    </dl>
    <dl>
      <dt>1999</dt>
      <dd>株式会社パーチに改組 <br>大垣市に工場開設　猫の紙砂開発、販売</dd>
    </dl>
    <dl>
      <dt>2000</dt>
      <dd>瑞穂市に工場開設 <br>ペット用ダンボール製品開発、販売</dd>
    </dl>
    <dl>
      <dt>2001</dt>
      <dd>販促品事業開始</dd>
    </dl>
    <dl>
      <dt>2004</dt>
      <dd>滋賀県に工場開設 <br>液晶用マザーガラス緩衝材製造開始　ガラス緩衝方法の特許出願</dd>
    </dl>
    <dl>
      <dt>2009</dt>
      <dd>揖斐郡大野町瀬古に工場移転</dd>
    </dl>
    <dl>
      <dt>2010</dt>
      <dd>ダンボール製品を中心としたネット販売を開始</dd>
    </dl>
    <dl>
      <dt>2011</dt>
      <dd>海外輸入事業開始</dd>
    </dl>
    <dl>
      <dt>2014</dt>
      <dd>揖斐郡大野町野に工場移転</dd>
    </dl>
    <dl>
      <dt>2015</dt>
      <dd>2月 新社屋完成</dd>
    </dl>
    <dl>
      <dt>2016</dt>
      <dd>養生ボード製造開始</dd>
    </dl>
    <dl>
      <dt>2017</dt>
      <dd>滋賀工場新設</dd>
    </dl>
    <dl>
      <dt>2018</dt>
      <dd>神戸工場新設</dd>
    </dl>
    <dl>
      <dt>2021</dt>
      <dd>FSC® CoC 認証取得</dd>
    </dl>
    <dl>
      <dt>2024</dt>
      <dd>大野第二工場新設</dd>
    </dl>
  </ul>
</div>
{% endblock %}