{% extends "base.html" %}

{% block title %}ACCESS | PERCH official website{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/access.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="title">
    <h1>ACCESS</h1>
    <p>アクセス・お問い合わせ</p>
</div>
<div class="map">
    <h2>アクセスマップ</h2>
    <ul class="map-list">
        <li>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3248.6177208165136!2d136.62839527282625!3d35.489001040514786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60024c52bf6471d3%3A0xb1ce32a6a56a2ca6!2z44OR44O844OB!5e0!3m2!1sja!2sjp!4v1750503372783!5m2!1sja!2sjp"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="factory-name">事務所・大野工場</p>
        </li>
        <li>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d406.4793336202693!2d136.60767057113276!3d35.4093484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003b36de45515d5%3A0x2f072007c09df14a!2z44CSNTAzLTIzMTkg5bKQ6Zic55yM5a6J5YWr6YOh56We5oi455S65YmN55Sw77yU77yS77yV!5e0!3m2!1sja!2sjp!4v1750503581763!5m2!1sja!2sjp"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="factory-name">神戸工場</p>
        </li>
        <li>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1933.1295238774555!2d136.30469280006488!3d35.42697369431443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60022f6b031efe31%3A0x29925342d1b2ebed!2z5qCq5byP5Lya56S-44OR44O844OB!5e0!3m2!1sja!2sjp!4v1750503465686!5m2!1sja!2sjp"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="factory-name">滋賀工場</p>
        </li>
    </ul>
</div>
<div class="contact">
    <h2>お問い合わせフォーム</h2>
    <form action="{{ url_for('access') }}" method="POST">
        <dl class="form-area">
            <dt><span class="required">お名前</span></dt>
            <dd><input class="input-text" type="text" name="name" required></dd>

            <dt><span class="required">メールアドレス</span></dt>
            <dd><input class="input-text" type="email" name="email" required></dd>

            <dt>お電話番号</dt>
            <dd><input class="input-text" type="tel" name="tel"></dd>

            <dt>お問い合わせ種別</dt>
            <dd>
                <select class="select-box" name="genre">
                    <option value="ご商談について" selected>ご商談について</option>
                    <option value="商品について">商品について</option>
                    <option value="その他について">その他</option>
                </select>
            </dd>

            <dt>お客様について</dt>
            <dd>
                <label class="radio-button"><input type="radio" name="user-type" value="はじめてのお客様" checked>はじめてのお客様</label>
                <label class="radio-button"><input type="radio" name="user-type" value="お取引先様">お取引先様</label>
                <label class="radio-button"><input type="radio" name="user-type" value="その他">その他</label>
            </dd>

            <dt><span class="required">お問い合わせ内容</span></dt>
            <dd><textarea class="message" name="message" required></textarea></dd>
        </dl>

        <p class="confirm-text">ご入力内容を確認の上、お間違いがなければ[送信]ボタンを押してください。</p>
        <button class="submit-button" type="submit">送信</button>
    </form>
</div>
{% endblock %}