{% extends "base.html" %}

{% block title %}ACCESS | PERCH official website{% endblock %}

{% block description %}PERCHの本社と各工場の所在地、アクセス方法についてご案内します。{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/access.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="title">
  <h1>ACCESS</h1>
  <p>アクセス</p>
</div>
<div class="access-contents">
  <img src="{{ url_for('static', filename='images/access/img-map.jpg') }}" alt="株式会社パーチ周辺地図">
  <div class="access-text">
    <h2>株式会社パーチ</h2>
    <p>本社：岐阜県安八郡神戸町前田71</p>
    <p>大野工場：岐阜県揖斐郡大野町野2443-1</p>
    <p>神戸工場：岐阜県安八郡神戸町前田425</p>
    <p>滋賀工場：滋賀県長浜市三田町1367-109</p>
  </div>
</div>
{% endblock %}