{% extends "base.html" %}

{% block title %}MACHINE | PERCH official website{% endblock %}

{% block description %}PERCHが使用している主要な製造マシンについてご紹介します。{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/machine.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="title">
  <h1>MACHINE</h1>
  <p>マシン</p>
</div>
<ul class="item-list">
  <li>
    <img src="{{ url_for('static', filename='images/machine/img-item01.jpg') }}" alt="コルゲーターの画像" loading="lazy">
    <dl>
      <dt>コルゲーター</dt>
      <dd>段ボールシートを製造するための大型連続機械で、中しん原紙を波形に成形し、ライナーと貼り合わせて段ボールを作る装置です。自動制御システムで安定した品質を確保しています。</dd>
    </dl>
  </li>
  <li>
    <img src="{{ url_for('static', filename='images/machine/img-item02.jpg') }}" alt="ウォータージェットカッターの画像" loading="lazy">
    <dl>
      <dt>ウオータージェットカッター</dt>
      <dd>
        高圧ポンプで加圧された水を微細ノズルから噴射してさまざまな素材を切断・加工する装置です。毎秒600〜900mの超高速で対象物に衝突し、削り取るように切断します。特徴としては、非接触加工のため素材に負担をかけず変形しにくいこと、最小0.3mmの切断幅で精密加工が可能なこと、熱を使わないため熱変形や焦げが起きないことなどが挙げられ、精密かつクリーンな加工が出来ます。
      </dd>
    </dl>
  </li>
  <li>
    <img src="{{ url_for('static', filename='images/machine/img-item03.jpg') }}" alt="サンプルカッターの画像" loading="lazy">
    <dl>
      <dt>サンプルカッター</dt>
      <dd>
        パッケージや製品の試作品（サンプル）を作成するための多機能カッティングマシンです。段ボールなど対象に、型を作らずに自由な形状でカットや罫線加工ができるのが特徴です。インクジェットプリンターと組み合わせることでより一層の強みを発揮しています。
      </dd>
    </dl>
  </li>
  <li>
    <img src="{{ url_for('static', filename='images/machine/img-item04.jpg') }}" alt="インクジェットプリンター画像" loading="lazy">
    <dl>
      <dt>インクジェットプリンター</dt>
      <dd>
        段ボールや建材（石膏ボード・木材）などの広い面積に直接印刷できる非接触型プリンターです。特にパッケージ印刷や外装箱へのロゴ・バーコード・可変情報の印字に活用し、多品種少量生産や短納期対応に強みを発揮します。また、段ボールや紙器に直接印刷できるため、サンプルカッターと組み合わせることで、実製品に近い試作が可能となり、ブランドロゴや製品名の印字テストにも最適で、印刷品質や視認性の検証にも役立っています。
      </dd>
    </dl>
  </li>
  <li>
    <img src="{{ url_for('static', filename='images/machine/img-item05.jpg') }}" alt="自動積層マシンの画像" loading="lazy">
    <dl>
      <dt>自動積層マシン</dt>
      <dd>製造ラインで切断・加工された段ボールシートを自動で整列・積み重ねて接着する装置です。人手による積み作業を省力化し、生産性の向上・作業者の負担軽減・品質の安定化を実現しています。</dd>
    </dl>
  </li>
  <li>
    <img src="{{ url_for('static', filename='images/machine/img-item06.jpg') }}" alt="バンドソーの画像" loading="lazy">
    <dl>
      <dt>バンドソー</dt>
      <dd>
        帯状の鋸刃（ブレード）を高速で回転させて素材を切断する電動工具です。幅広い素材に対応し、直線・曲線・斜め切断など多様な加工が可能です。段ボールや木材の製作において、立型バンドソーは曲線や複雑形状のカットに最適で、サンプルカッターでは難しい厚物や特殊形状の加工にも対応できるため、素材選定や加工検証の幅を広げるツールとしても役立っています。
      </dd>
    </dl>
  </li>
  <li>
    <img src="{{ url_for('static', filename='images/machine/img-item07.jpg') }}" alt="デジタルカッターの画像" loading="lazy">
    <dl>
      <dt>デジタルランニングソー</dt>
      <dd>
        板材（段ボール・木材など）を高精度かつ効率的に切断するための横型自動切断機で、デジタル制御によって寸法設定や切断プログラムを自動化できるのが特徴です。特に段ボールの加工現場で活躍しています。サンプルカッターでは対応しきれない厚物や直線大量カットに最適です。
      </dd>
    </dl>
  </li>
</ul>
{% endblock %}