{% extends "base.html" %}

{% block title %}ONLINE SHOP | PERCH official website{% endblock %}

{% block description %}PERCHのオンラインショップでは、猫の爪とぎをはじめとする様々な紙製品をご購入いただけます。{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/shop.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
<div class="title">
  <h1>ONLINE SHOP</h1>
  <p>オンラインショップ</p>
</div>
<div class="shop-contents">
  <div class="shop-item">
    <h2>猫のつめとぎ 組立パズル式 サイズ54.5cm×15cm×23.7cm またたび付き</h2>
    <div class="item-area">
      <img src="{{ url_for('static', filename='images/shop/img-item01.jpg') }}" alt="猫のつめとぎ 組立パズル式 サイズ54.5cm×15cm×23.7cm またたび付きの画像">
      <div class="about-item">
        <p class="item-text">組み合わせ自由な分離型つめとぎ。 これ一個でいろんな形状のつめとぎで遊べます。</p>
        <a href="https://www.amazon.co.jp/%E6%97%A5%E6%9C%AC%E8%A3%BD-%E7%8C%AB%E3%81%AE%E3%81%A4%E3%82%81%E3%81%A8%E3%81%8E-%E7%B5%84%E7%AB%8B%E3%83%91%E3%82%BA%E3%83%AB%E5%BC%8F-%E3%82%B5%E3%82%A4%E3%82%BA54-5cm%C3%9715cm%C3%9723-7cm-%E3%81%BE%E3%81%9F%E3%81%9F%E3%81%B3%E4%BB%98%E3%81%8D/dp/B0F9XV1HYB/ref=sr_1_1?dib=eyJ2IjoiMSJ9.LTL7ywVhQcY2oPmr5WWtgRM3AYRJnscm4qlmOl7X8N1o3_lUkBRw5Eani_LfC-_ss58r-19XPApm10XHwoc29g._Fxe4XyXWnXV7hGaCzP7rLW6C5tHV0EIk96xT3TvD0I&dib_tag=se&m=A3GJMB810F4PAP&qid=1751005905&s=merchant-items&sr=1-1"
          target="_blank">サイトcheck</a>
      </div>
    </div>
    <h2>猫のつめとぎ 8個入 サイズ40cm×19cm×2cm またたび付き</h2>
    <div class="item-area">
      <img src="{{ url_for('static', filename='images/shop/img-item02.jpg') }}" alt="猫のつめとぎ 8個入 サイズ40cm×19cm×2cm またたび付きの画像">
      <div class="about-item">
        <p class="item-text">またたび5袋付きのオマケ付き 外箱を猫のベット、とぎクズ受けにも利用できます。</p>
        <a href="https://www.amazon.co.jp/%E6%97%A5%E6%9C%AC%E8%A3%BD-%E7%8C%AB%E3%81%AE%E3%81%A4%E3%82%81%E3%81%A8%E3%81%8E-8%E5%80%8B%E5%85%A5-%E3%82%B5%E3%82%A4%E3%82%BA40cm%C3%9719cm%C3%972cm-%E3%81%BE%E3%81%9F%E3%81%9F%E3%81%B3%E4%BB%98%E3%81%8D/dp/B0F89XKRLS/ref=sr_1_2?dib=eyJ2IjoiMSJ9.LTL7ywVhQcY2oPmr5WWtgRM3AYRJnscm4qlmOl7X8N1o3_lUkBRw5Eani_LfC-_ss58r-19XPApm10XHwoc29g._Fxe4XyXWnXV7hGaCzP7rLW6C5tHV0EIk96xT3TvD0I&dib_tag=se&m=A3GJMB810F4PAP&qid=1751005905&s=merchant-items&sr=1-2"
          target="_blank">サイトcheck</a>
      </div>
    </div>
    <h2>猫の肉球型猫の爪とぎ</h2>
    <div class="item-area">
      <img src="{{ url_for('static', filename='images/shop/img-item03.jpg') }}" alt="猫の肉球型猫の爪とぎの画像">
      <div class="about-item">
        <p class="item-text">寸法：幅475×奥行225×高さ426mm</p>
        <a href="https://www.amazon.co.jp/%E3%83%8E%E3%83%BC%E3%83%96%E3%83%A9%E3%83%B3%E3%83%89%E5%93%81-475225426A-%E5%9B%BD%E7%94%A3-%E7%8C%AB%E3%81%AE%E8%82%89%E7%90%83%E5%9E%8B%E7%8C%AB%E3%81%AE%E7%88%AA%E3%81%A8%E3%81%8E/dp/B0F89RRDFD/ref=sr_1_3?dib=eyJ2IjoiMSJ9.LTL7ywVhQcY2oPmr5WWtgRM3AYRJnscm4qlmOl7X8N1o3_lUkBRw5Eani_LfC-_ss58r-19XPApm10XHwoc29g._Fxe4XyXWnXV7hGaCzP7rLW6C5tHV0EIk96xT3TvD0I&dib_tag=se&m=A3GJMB810F4PAP&qid=1751005905&s=merchant-items&sr=1-3"
          target="_blank">サイトcheck</a>
      </div>
    </div>
    <h2>猫のつめとぎ 10個入 サイズ60cm×23cm×2.5cm またたび付き</h2>
    <div class="item-area">
      <img src="{{ url_for('static', filename='images/shop/img-item04.jpg') }}" alt="猫のつめとぎ 10個入 サイズ60cm×23cm×2.5cm またたび付きの画像">
      <div class="about-item">
        <p class="item-text">またたび5袋付きのオマケ付き 外箱を猫のベット、とぎクズ受けにも利用できます。</p>
        <a href="https://www.amazon.co.jp/%E6%97%A5%E6%9C%AC%E8%A3%BD-%E7%8C%AB%E3%81%AE%E3%81%A4%E3%82%81%E3%81%A8%E3%81%8E-10%E5%80%8B%E5%85%A5-%E3%82%B5%E3%82%A4%E3%82%BA60cm%C3%9723cm%C3%972-5cm-%E3%81%BE%E3%81%9F%E3%81%9F%E3%81%B3%E4%BB%98%E3%81%8D/dp/B0F7XB5QFR/ref=sr_1_4?dib=eyJ2IjoiMSJ9.LTL7ywVhQcY2oPmr5WWtgRM3AYRJnscm4qlmOl7X8N1o3_lUkBRw5Eani_LfC-_ss58r-19XPApm10XHwoc29g._Fxe4XyXWnXV7hGaCzP7rLW6C5tHV0EIk96xT3TvD0I&dib_tag=se&m=A3GJMB810F4PAP&qid=1751005905&s=merchant-items&sr=1-4"
          target="_blank">サイトcheck</a>
      </div>
    </div>
    <h2>猫の爪とぎ10個入ワイドタイプお徳用　くずが散らばりにくい　訳あり</h2>
    <div class="item-area">
      <img src="{{ url_for('static', filename='images/shop/img-item06.jpg') }}" alt="猫の爪とぎ10個入ワイドタイプお徳用　くずが散らばりにくい　訳ありの画像">
      <div class="about-item">
        <p class="item-text">
          多頭飼いの方にもピッタリ!複数の猫が同時に使えるお徳用10個入り!くずが散らばりにくい。生産途中にて汚れ、傷がついてしまいましたが、品質は正規品と同じで全く問題はございません。</p>
        <a href="https://www.satofull.jp/products/detail.php?product_id=1451173" target="_blank">ふるさと納税サイト「さとふる」check</a>
      </div>
    </div>
    <h2>猫の爪とぎ10個入スリムタイプ　くずが散らばりにくい　訳ありA</h2>
    <div class="item-area">
      <img src="{{ url_for('static', filename='images/shop/img-item07.jpg') }}" alt="猫の爪とぎ10個入スリムタイプ　くずが散らばりにくい　訳ありAの画像">
      <div class="about-item">
        <p class="item-text">
          多頭飼いの方にもピッタリ!複数の猫が同時に使えるお徳用10個入り!くずが散らばりにくい。生産途中にて汚れ、傷がついてしまいましたが、品質は正規品と同じで全く問題はございません。</p>
        <a href="https://www.satofull.jp/products/detail.php?product_id=1451172" target="_blank">ふるさと納税サイト「さとふる」check</a>
      </div>
    </div>
    <h2>猫の爪とぎ10個入スリムタイプ　くずが散らばりにくい　訳ありB</h2>
    <div class="item-area">
      <img src="{{ url_for('static', filename='images/shop/img-item08.jpg') }}" alt="猫の爪とぎ10個入スリムタイプ　くずが散らばりにくい　訳ありBの画像">
      <div class="about-item">
        <p class="item-text">
          多頭飼いの方にもピッタリ!複数の猫が同時に使えるお徳用10個入り!くずが散らばりにくい。生産途中にて汚れ、傷がついてしまいましたが、品質は正規品と同じで全く問題はございません。</p>
        <a href="https://www.satofull.jp/products/detail.php?product_id=1451170" target="_blank">ふるさと納税サイト「さとふる」check</a>
      </div>
    </div>
    <div class="shoplist-menu-inner">
      <h2>SHOP LIST👇 こちらもご覧ください</h2>
      <ul>
        <li><a href="https://www.rakuten.ne.jp/gold/seikatu-japan-box/" target="_blank">生活BOX-楽天市場店-</a>
        </li>
        <li><a href="http://www.perch.co.jp/index.html" target="_blank">PerchProShop</a></li>
      </ul>
    </div>
  </div>
  <aside class="shop-menu">
    <div class="shop-menu-inner">
      <h2>ITEM LIST</h2>
      <ul>
        <li><a>猫のつめとぎ 組立パズル式 <br>サイズ54.5cm×15cm×23.7cm またたび付き</a></li>
        <li><a>猫のつめとぎ 8個入 <br>サイズ40cm×19cm×2cm またたび付き</a></li>
        <li><a>猫の肉球型猫の爪とぎ</a></li>
        <li><a>猫のつめとぎ 10個入 <br>サイズ60cm×23cm×2.5cm またたび付き</a></li>
        <li><a>猫のつめとぎ 10個入 <br>サイズ45cm×12cm×2cm</a></li>
        <li><a>猫の爪とぎ10個入ワイドタイプお徳用 <br>くずが散らばりにくい　訳あり</a></li>
        <li><a>猫の爪とぎ10個入スリムタイプ <br>くずが散らばりにくい　訳ありA</a></li>
        <li><a>猫の爪とぎ10個入スリムタイプ <br>くずが散らばりにくい　訳ありB</a></li>
        <li><a>SHOP LIST</a></li>
      </ul>
    </div>
  </aside>
</div>
{% endblock %}